/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* contenitore e position*/

#container {
    margin: auto;
    width: 1100px;
}

.relative{
    position: relative;
}

.absolute {
    position: absolute;
}
.content-item{
    display: inline-block;
    margin-bottom: 20px;
}
/* varie immagini */

.item {
    width: 350px;
    height: 500px;
    display: inline-block;
}

.back-ground {
    Background-size: cover;
    background-position: center;
}
/* prima immagine con hover */
.first-img {
    background-image: url(../img/1.webp);
}

.first-img:hover {
    background-image: url(../img/1b.webp);
}

/*  seconda immagine con hover */

.second-img{
    background-image: url(../img/2.webp);
}

.second-img:hover{
    background-image: url(../img/2b.webp);
}

/* terza immagine */

.third-img{
    background-image: url(../img/3.webp);
}

.third-img:hover{
    background-image: url(../img/3b.webp);
}

/* quarta immagine */

.fourth-img{
    background-image: url(../img/4.webp);
}

.fourth-img:hover{
    background-image: url(../img/4b.webp);
}

/* quinta immagine */

.fifth-img{
    background-image: url(../img/5.webp);
}

.fifth-img:hover{
    background-image: url(../img/5b.webp);
}

/* sesta immagine */

.sixth-img{
    background-image: url(../img/6.webp);
}

.sixth-img:hover{
    background-image: url(../img/6b.webp);
}

/* sconti */

.discount {
    left: 0;
    background-color: red;
}

.ab-bottom{
    bottom: 30px;
    padding: 5px;
    color: white;
}
.sost{
    background-color: green;
    left: 40px;
}

/* entity cuore */

.heart{
    right: 0;
    top: 20px;
    background-color: white;
    padding: 20px;
    font-size: 30px;
}

/* descrizione del prodotto */

.description {
    top: 500px;
}

.text-small {
    font-size: small;
}

.name-item {
    font-weight: bold;
}

.cost {
    color: red;
}

.ex-cost {
    text-decoration: line-through;
}

